<div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="replyModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="replyModalTitle">답장하기</h5>
        <button id="message-close-btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="receiverId">
        <input type="hidden" id="senderId">
        <input type="hidden" id="paintingId">
        <input type="hidden" id="messageId">
        <div class="form-group">
          <input disabled type="text" class="form-control" id="sender">
        </div>
        <div class="form-group">
          <textarea class="form-control" id="content" cols="30" rows="10"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button onclick="messageButtonClicked()" type="button" class="btn btn-outline-dark">보내기</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).on("click", ".reply-btn", function () {
  let receiverId = $(this).data('receiver');
  let senderId = $(this).data('sender');
  let receiverName = $(this).data('receiverName');
  let paintingId = $(this).data('painting');
  let messageId = $(this).data('message');
  $('#sender').val(receiverName)
  $('#receiverId').val(receiverId);
  $('#senderId').val(senderId);
  $('#paintingId').val(paintingId);
  $('#messageId').val(messageId);
  
  // $('#addBookDialog').modal('show');
});
function messageButtonClicked(){
  let receiverId = $('#receiverId').val();
  let senderId = $('#senderId').val();
  let paintingId = $('#paintingId').val();
  let messageId = $('#messageId').val();
  let content = $('#content').val();

  if(paintingId != -1){
    $.ajax({
      headers : { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
      url: '<%= messages_path %>',
      method: 'POST',
      data: {
        painting_id: paintingId,    
        sender_id: senderId,
        receiver_id: receiverId,
        message_id: messageId,
        content: content
      },
      success: function(){
        alert("메세지를 성공적으로 전송하였습니다.");
        $('#message-close-btn').click();
      },
      fail: function(){
        alert("메세지를 전송에 실패하였습니다..");
        $('#message-close-btn').click();
      }
    })
  } else {

    $.ajax({
      headers : { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
      url: '<%= messages_path %>',
      method: 'POST',
      data: {
        sender_id: receiverId,
        receiver_id: senderId,
        content: content
      },
      success: function(){
        alert("메세지를 성공적으로 전송하였습니다.");
        $('#message-close-btn').click();
      },
      fail: function(){
        alert("메세지 전송에 실패하였습니다.");
        $('#message-close-btn').click();
      }
    })

  }
}
  
</script>