$('#message-specific-area').append(`
  <% if @is_mobile %>
  <div class="col-9 offset-3 margin-bottom-0">
  <% else %>
  <div class="col-7 offset-5 margin-bottom-0">
  <% end %>
    <span class="message-date-text card-text float-right text-right"><small class="text-muted"><%= @message.created_at.strftime("%Y / %_m / %_d %e %_H : %M") %></small></span>
    <div style="display: inline-block;" class="alert alert-secondary float-right margin-bottom-0" role="alert">
    <%= @message.sender.nickname %> : <%= @message.content %>
    </div>
  </div>
`);