<!-- 모달 띄웠을 때의 엑스 버튼 -->
<img id="xButton" src="/images/line/x-button.png" alt="">
<!-- <div class="section-lg bg-grey-lighter profile-portfolio margin-top-area"></div> -->
    <!-- 메인 컨텐트 -->
    <div class="container" style="padding-bottom: 100px;">
      <div class="info-area" id="line-area">
        <div id="line"></div>
        <div id="circle-area"></div>
      </div>
    </div>
    
    <!-- 모달 부분 -->
    <div id="portfolio-left-modal" class="modal fade activity-left-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog portfolio modal-sm">
        <div class="modal-content portfolio">
          <div class="modal-body">
            <div class="profile-img-area">
              <img class="profile-img" src="/images/line/profile.jpg" alt="프로필 이미지">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="portfolio-right-modal" class="modal fade activity-right-modal" tabindex="-1" role="dialog" aria-hidden="true">
      
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
        </div>
      </div>
    </div>
<!-- </div> -->

<%= render 'line_js' %>