<div class="section">
  <div class="container">
    <%= link_to notices_path do %>
      <button type="button" class="btn btn-outline-dark float-right">목록</button>
    <% end %>
    <div class="margin-top-20">
      <!-- <div class="col-12 col-lg-2"></div> -->
      <!-- <div class="col-12 col-lg-8"> -->
        <blockquote class="margin-top-20">
          <h6>
            <p><%= @notice.title %></p> 
            <span class="float-right"><%= @notice.created_at.strftime("%Y년 %_m월 %_d일") %></span>
          </h6>
          <div class="margin-top-70">
            <p><%= @notice.content %></p>
          </div>
          <!-- <footer class="blockquote-footer"><h6 class="heading-uppercase">Greedy Turtles</h6></footer> -->
        </blockquote>
      <!-- </div> -->
      <!-- <div class="col-12 col-lg-2"></div> -->
    </div>
  </div>
</div>