html{
  height:100%;
}

body{
  background-color: #0021F5;
  height: 100%;
}

p.artist-name{
  line-height: 5rem;
  font-size: 5rem;
  vertical-align: bottom;
}
.w-nav-link.w--current {
  color: white;
}

#nav{
  background-color: #0021F5;
}
.nav-item{
  color: white;
}
.nav-menu{
  background-color: #0021F5;
}
p, span{
  color: white;
}
.hr{
  background-color: white;
}

section{
  padding-top: 50px;
  overflow: auto;
  padding-bottom: 30px;
}
@media screen and (max-width: 479px) {
  /* mobile */
  .header-area{
    margin-top: 20px;
  }
  .header-text{
    font-size: 30px;
  }
}

@media all and (min-width: 1024px) {

}

@media all and (min-width: 1680px) {

}

@media all and (min-width: 2200px){

}