<!-- Products section -->
<div class="section">
  <div class="container">
    <div class="row">
      <!-- Products -->
      <div class="col-12 col-lg-9 order-lg-2">
        <div class="row align-items-center">
          <div class="col-6">
            <h6 class="heading-uppercase no-margin">Showing 1-9 out of 36</h6>
          </div>
          <div class="col-6 text-right">
            <div>
              <select class="custom-select">
                <option selected>Sort by Newness</option>
                <option value="1">Sort by Popularity</option>
                <option value="1">Sort by Rating</option>
                <option value="2">Sort by Price: high to low</option>
                <option value="3">Sort by Price: low to high</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row product-wrapper product-hover-style-2 margin-top-50">
          <!-- Product box 1 -->
          <div class="col-12 col-md-6 col-lg-4 product">
            <div class="product-img">
              <a href="#">
                <img src="/images/col-4-tall.jpg" alt="">
                <!-- Badge: Sale -->
                <div class="product-sale">
                  <h6 class="heading-uppercase">-30%</h6>
                </div>
                <!-- Badge: New -->
                <div class="product-new">
                  <span class="heading-uppercase">New</span>
                </div>
              </a>
              <div class="product-img-hover">
                <h6 class="heading-uppercase"><a href="#">Add to Cart</a></h6>
              </div>
            </div><!-- end product-img -->
            <div class="product-info">
              <h6><a href="#">Product Title</a></h6>
              <!-- Product Category -->
              <ul class="list-horizontal">
                <li><a href="#">Men</a></li>
                <li><a href="#">Clothing</a></li>
              </ul>
              <!-- Product Price -->
              <div class="product-price">
                <h6><span>$29</span>$20</h6>
              </div>
              <!-- Add to Wishlist button -->
              <a class="product-wishlist" href="#">
                <i class="fa fa-heart-o"></i>
              </a>
              <!-- Product Rating -->
              <div class="product-rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
              </div>
            </div><!-- end product-info -->
          </div>
          <!-- Product box 2 -->
          <div class="col-12 col-md-6 col-lg-4 product">
            <div class="product-img">
              <a href="#">
                <img src="/images/col-4-tall.jpg" alt="">
                <!-- Badge: Sale -->
                <div class="product-sale">
                  <h6 class="heading-uppercase">-20%</h6>
                </div>
                <!-- Badge: New -->
                <div class="product-new">
                  <span class="heading-uppercase">New</span>
                </div>
              </a>
              <div class="product-img-hover">
                <h6 class="heading-uppercase"><a href="#">Add to Cart</a></h6>
              </div>
            </div><!-- end product-img -->
            <div class="product-info">
              <h6><a href="#">Product Title</a></h6>
              <!-- Product Category -->
              <ul class="list-horizontal">
                <li><a href="#">Men</a></li>
                <li><a href="#">Clothing</a></li>
              </ul>
              <!-- Product Price -->
              <div class="product-price">
                <h6><span>$29</span>$23</h6>
              </div>
              <!-- Add to Wishlist button -->
              <a class="product-wishlist" href="#">
                <i class="fa fa-heart-o"></i>
              </a>
              <!-- Product Rating -->
              <div class="product-rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="far fa-star"></i></span>
              </div>
            </div><!-- end product-info -->
          </div>
          <!-- Product box 3 -->
          <div class="col-12 col-md-6 col-lg-4 product">
            <div class="product-img">
              <a href="#">
                <img src="/images/col-4-tall.jpg" alt="">
                <!-- Badge: Sale -->
                <div class="product-sale">
                  <h6 class="heading-uppercase">-30%</h6>
                </div>
              </a>
              <div class="product-img-hover">
                <h6 class="heading-uppercase"><a href="#">Add to Cart</a></h6>
              </div>
            </div><!-- end product-img -->
            <div class="product-info">
              <h6><a href="#">Product Title</a></h6>
              <!-- Product Category -->
              <ul class="list-horizontal">
                <li><a href="#">Men</a></li>
                <li><a href="#">Clothing</a></li>
              </ul>
              <!-- Product Price -->
              <div class="product-price">
                <h6><span>$29</span>$20</h6>
              </div>
              <!-- Add to Wishlist button -->
              <a class="product-wishlist" href="#">
                <i class="fa fa-heart-o"></i>
              </a>
              <!-- Product Rating -->
              <div class="product-rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="far fa-star"></i></span>
              </div>
            </div><!-- end product-info -->
          </div>
          <!-- Product box 4 -->
          <div class="col-12 col-md-6 col-lg-4 product">
            <div class="product-img">
              <a href="#">
                <img src="/images/col-4-tall.jpg" alt="">
                <!-- Badge: Sale -->
                <div class="product-sale">
                  <h6 class="heading-uppercase">-20%</h6>
                </div>
              </a>
              <div class="product-img-hover">
                <h6 class="heading-uppercase"><a href="#">Add to Cart</a></h6>
              </div>
            </div><!-- end product-img -->
            <div class="product-info">
              <h6><a href="#">Product Title</a></h6>
              <!-- Product Category -->
              <ul class="list-horizontal">
                <li><a href="#">Women</a></li>
                <li><a href="#">Clothing</a></li>
              </ul>
              <!-- Product Price -->
              <div class="product-price">
                <h6><span>$29</span>$23</h6>
              </div>
              <!-- Add to Wishlist button -->
              <a class="product-wishlist" href="#">
                <i class="fa fa-heart-o"></i>
              </a>
              <!-- Product Rating -->
              <div class="product-rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="far fa-star"></i></span>
              </div>
            </div><!-- end product-info -->
          </div>
          <!-- Product box 5 -->
          <div class="col-12 col-md-6 col-lg-4 product">
            <div class="product-img">
              <a href="#">
                <img src="/images/col-4-tall.jpg" alt="">
              </a>
              <div class="product-img-hover">
                <h6 class="heading-uppercase"><a href="#">Add to Cart</a></h6>
              </div>
            </div><!-- end product-img -->
            <div class="product-info">
              <h6><a href="#">Product Title</a></h6>
              <!-- Product Category -->
              <ul class="list-horizontal">
                <li><a href="#">Women</a></li>
                <li><a href="#">Clothing</a></li>
              </ul>
              <!-- Product Price -->
              <div class="product-price">
                <h6>$19</h6>
              </div>
              <!-- Add to Wishlist button -->
              <a class="product-wishlist" href="#">
                <i class="fa fa-heart-o"></i>
              </a>
              <!-- Product Rating -->
              <div class="product-rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="far fa-star"></i></span>
              </div>
            </div><!-- end product-info -->
          </div>
          <!-- Product box 6 -->
          <div class="col-12 col-md-6 col-lg-4 product">
            <div class="product-img">
              <a href="#">
                <img src="/images/col-4-tall.jpg" alt="">
              </a>
              <div class="product-img-hover">
                <h6 class="heading-uppercase"><a href="#">Add to Cart</a></h6>
              </div>
            </div><!-- end product-img -->
            <div class="product-info">
              <h6><a href="#">Product Title</a></h6>
              <!-- Product Category -->
              <ul class="list-horizontal">
                <li><a href="#">Women</a></li>
                <li><a href="#">Clothing</a></li>
              </ul>
              <!-- Product Price -->
              <div class="product-price">
                <h6>$19</h6>
              </div>
              <!-- Add to Wishlist button -->
              <a class="product-wishlist" href="#">
                <i class="fa fa-heart-o"></i>
              </a>
              <!-- Product Rating -->
              <div class="product-rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
              </div>
            </div><!-- end product-info -->
          </div>
          <!-- Product box 7 -->
          <div class="col-12 col-md-6 col-lg-4 product">
            <div class="product-img">
              <a href="#">
                <img src="/images/col-4-tall.jpg" alt="">
              </a>
              <div class="product-img-hover">
                <h6 class="heading-uppercase"><a href="#">Add to Cart</a></h6>
              </div>
            </div><!-- end product-img -->
            <div class="product-info">
              <h6><a href="#">Product Title</a></h6>
              <!-- Product Category -->
              <ul class="list-horizontal">
                <li><a href="#">Men</a></li>
                <li><a href="#">Clothing</a></li>
              </ul>
              <!-- Product Price -->
              <div class="product-price">
                <h6>$19</h6>
              </div>
              <!-- Add to Wishlist button -->
              <a class="product-wishlist" href="#">
                <i class="fa fa-heart-o"></i>
              </a>
              <!-- Product Rating -->
              <div class="product-rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="far fa-star"></i></span>
              </div>
            </div><!-- end product-info -->
          </div>
          <!-- Product box 8 -->
          <div class="col-12 col-md-6 col-lg-4 product">
            <div class="product-img">
              <a href="#">
                <img src="/images/col-4-tall.jpg" alt="">
              </a>
              <div class="product-img-hover">
                <h6 class="heading-uppercase"><a href="#">Add to Cart</a></h6>
              </div>
            </div><!-- end product-img -->
            <div class="product-info">
              <h6><a href="#">Product Title</a></h6>
              <!-- Product Category -->
              <ul class="list-horizontal">
                <li><a href="#">Men</a></li>
                <li><a href="#">Clothing</a></li>
              </ul>
              <!-- Product Price -->
              <div class="product-price">
                <h6>$19</h6>
              </div>
              <!-- Add to Wishlist button -->
              <a class="product-wishlist" href="#">
                <i class="fa fa-heart-o"></i>
              </a>
              <!-- Product Rating -->
              <div class="product-rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="far fa-star"></i></span>
              </div>
            </div><!-- end product-info -->
          </div>
          <!-- Product box 9 -->
          <div class="col-12 col-md-6 col-lg-4 product">
            <div class="product-img">
              <a href="#">
                <img src="/images/col-4-tall.jpg" alt="">
              </a>
              <div class="product-img-hover">
                <h6 class="heading-uppercase"><a href="#">Add to Cart</a></h6>
              </div>
            </div><!-- end product-img -->
            <div class="product-info">
              <h6><a href="#">Product Title</a></h6>
              <!-- Product Category -->
              <ul class="list-horizontal">
                <li><a href="#">Men</a></li>
                <li><a href="#">Clothing</a></li>
              </ul>
              <!-- Product Price -->
              <div class="product-price">
                <h6>$19</h6>
              </div>
              <!-- Add to Wishlist button -->
              <a class="product-wishlist" href="#">
                <i class="fa fa-heart-o"></i>
              </a>
              <!-- Product Rating -->
              <div class="product-rating">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="far fa-star"></i></span>
              </div>
            </div><!-- end product-info -->
          </div>
          <!-- end Product box 9 -->
        </div><!-- end row(inner) -->
        <!-- Pagination -->
        <nav>
          <ul class="pagination justify-content-center margin-top-70">
            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
          </ul>
        </nav>
      </div>
      <!-- Sidebar -->
      <div class="col-12 col-lg-3 order-lg-1 shop-sidebar">
        <!-- Sidebar box 1 - Category -->
        <div class="shop-sidebar-box">
          <h5 class="font-weight-light margin-bottom-20">Category</h5>
          <ul class="shop-sidebar-category">
            <li><a href="#">Accessories <span>25</span></a></li>
            <li><a href="#">Bags <span>16</span></a></li>
            <li><a href="#">Hats <span>30</span></a></li>
            <li><a href="#">Hoodies <span>14</span></a></li>
            <li><a href="#">Jackets <span>11</span></a></li>
            <li><a href="#">Pants <span>18</span></a></li>
            <li><a href="#">Shirts <span>36</span></a></li>
            <li><a href="#">Shoes <span>12</span></a></li>
          </ul>
        </div>
        <!-- Sidebar box 2 - Color -->
        <div class="shop-sidebar-box">
          <h5 class="font-weight-light margin-bottom-20">Color</h5>
          <ul class="shop-sidebar-color">
            <li><a href="#">Black <span class="bg-dark"></span></a></li>
            <li><a href="#">Blue <span class="bg-primary"></span></a></li>
            <li><a href="#">Grey <span class="bg-secondary"></span></a></li>
            <li><a href="#">Green <span class="bg-success"></span></a></li>
            <li><a href="#">Orange <span class="bg-warning"></span></a></li>
            <li><a href="#">Pink <span style="background: #ffc0cb"></span></a></li><!-- Custom color 1 -->
            <li><a href="#">Purple <span style="background: #7661BE"></span></a></li><!-- Custom color 2 -->
            <li><a href="#">Red <span class="bg-danger"></span></a></li>
            <li><a href="#">White <span class="bg-white"></span></a></li>
            <!-- You can use (style="background: ..") to set custom colors 
              <li><a href="#">Custom Color <span style="background: #ff7373"></span></a></li> -->
          </ul>
        </div>
        <!-- Sidebar box 3 - Size -->
        <div class="shop-sidebar-box">
          <h5 class="font-weight-light margin-bottom-20">Size</h5>
          <ul class="shop-sidebar-size">
            <li><a href="#">Extra Small <span>XS</span></a></li>
            <li><a href="#">Small <span>SM</span></a></li>
            <li><a href="#">Medium <span>MD</span></a></li>
            <li><a href="#">Large <span>LG</span></a></li>
            <li><a href="#">Extra Large <span>XL</span></a></li>
          </ul>
        </div>
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div>
<!-- end Products section -->