<section id="magazine-interview" data-background="white">
    <p class="magazine-section-title">
      Interview
    </p>
    <div class="wrapper">
      <div class="margin-top-50">
        <div class="w-col w-col-5">
          <% 2.times do %>
            <div class="interview-area">
              <span class="interview-title" style="float: left;">Q.</span>
              <div style="padding-left: 50px;">
                때로는 아무 계획없이 멀리 우리라는 준비물만 챙겨서 떠나고싶어요. 그대만 좋다면요
              </div>
            </div>
            <div class="interview-area">
              <span class="interview-title" style="float: left;">A.</span>
              <div style="padding-left: 50px;">
                정말 신비한일야. 내맘에 기준이 되어버렸나봐요. 그대중심으로 멤돌고 멤돌아. 다가가고싶어요 욕심이나는걸.
              </div>
            </div>
          <% end %>
        </div>
        <div class="w-col w-col-2">
          <% if !@is_mobile %>
            <center>
              <img style="height: 300px;" src="/images/spring.png" alt="">
            </center>
          <% end %>
        </div>
        <div class="w-col w-col-5">
          <% 2.times do %>
            <div class="interview-area">
              <span class="interview-title" style="float: left;">Q.</span>
              <div style="padding-left: 50px;">
                처음에 만났을때, 그댄 맑은 사람같았죠. 큰 키에 안어울리게, 가끔 허술하던 모습에 왠지 자꾸만 눈이갔어요. 그댄 아마 모르겠죠.
              </div>
            </div>
            <div class="interview-area">
              <span class="interview-title" style="float: left;">A.</span>
              <div style="padding-left: 50px;">
                왜 이럴까 고민하고 모른척 해봐도 그대가 신경쓰이죠. 시도때도 없어요. 아직 잘 모르지만, 내맘을 열어둬요 날보러 오겠죠 환한 미소지으면서 그대는
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>