<div class="section">
  <div class="container">
    <h1>New Magazine</h1>
    <%= link_to 'Back', magazines_path, style: "float: right;" %>
    <%= render 'form', magazine: @magazine %>

    
  </div>
</div>