<link rel="stylesheet" href="/css/blue_background.css">

<%= render 'layouts/main_logo_slide' %>
<div class="section white-background">
  <div class="container">
    <div class="hr hr-theme-blue hr-thinnest margin-bottom-20"></div>
    <div class="magazine-content-text-title font-bold">
      무거운 소비는 이제 그만.
    </div>
    <div class="magazine-content-text mt-3">
      무거운 소비는 이제 그만.
      <br>
      무거운 소비는 이제 그만.
    </div>
    <div class="row margin-top-100">
      <% 4.times do %>
      <div class="col-12 col-md-3 col-lg-3 text-center">
        <div class="bg-blue round-item"></div>
        <div class="magazine-content-text-small mt-3">
          무거운 소비는 이제 그만.
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="section white-background">
  <div class="container">
    <div class="hr hr-theme-blue hr-thinnest margin-bottom-20"></div>
    <div class="magazine-content-text-title font-bold">
      방 벽에 가볍게 붙여요.
    </div>
    <div class="magazine-content-text mt-3">
      방 벽에 가볍게 붙여요.
      <br>
      방 벽에 가볍게 붙여요.
    </div>
    <div class="row margin-top-100">
      <% 3.times do %>
      <div class="col-12 col-md-4 col-lg-4 text-center">
        <div class="bg-blue round-item"></div>
        <div class="magazine-content-text-small mt-3">
          방 벽에 가볍게 붙여요.
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>