
<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]--><head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chack&Zzick</title>
    <meta name="description" content="We shape identities, both visually and through words. We design and develop for the web (and on paper). We curate exhibitions. We organise events and we act as advisors and consultants.">
    <meta name="keywords" content="">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="/landing_page/css/vendor/normalize.min.css">
    <link rel="stylesheet" href="/landing_page/css/fonts.css">
    <link rel="stylesheet" href="/landing_page/css/main-v2.1.0.min.css">
    
    <script src="/landing_page/js/vendor/modernizr-3.0.0.beta.min.js"></script>


</head>
<body id="cover">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

        
    <div id="main-container" class="fadeOnLoad">
        <header>
            <div class="title"><a href="/">Chack&Zzick</a></div>
            <a class="menuBtn" href="#menu"><img src="/images/plus.png" alt="+"/></a>
        </header>
        <div id="contents">
            <div class="wrapper ">

                <div class="scenario first">
                    <div class="layer first">
                        <p class="first optional">Chack&Zzick</p>
                        <p class="second">&quot;지화자는 종이 위에 그림을 그리는 사람들의 모임입니다.&quot; <br>지화자에서 사람들은 자유롭게 소통합니다.&quot;</p>
                    </div>
                    <div class="layer second">
                        <p class="first optional">vedette, <i>n.f.</i> star <i>n. Depardieu est la vedette de&nbsp;ce&nbsp;film.</i></p>
                        <p class="second">vedetta, [ve-dét-ta] <i>s.f.</i> luogo elevato o opportunamente esposto, da cui si possa vedere, vigilare a&nbsp;distanza.</p>
                    </div>
                    <div class="layer third">
                        <p class="first optional">vedette, <i>n.f.</i> vieilli (sentinelle), sentinel <i>n. Il y avait des vedettes à chaque coin de&nbsp;rue.</i></p>
                        <p class="second">&quot;Drogo portò il cannocchiale all&#39;occhio destro, lo puntò verso l&#39;estremo settentrione, vide nelle tenebre un piccolo lume, una punta infinitesima di&nbsp;luce.&quot;</p>
                    </div>
                    <div class="layer fourth">
                        <p class="first optional">vědět, from Proto-Slavic *věděti, from Proto-Indo-European *wóyde (“to know”), perfect of *weyd- (“to&nbsp;see,&nbsp;to&nbsp;know”).</p>
                        <p class="second">&quot;Fired by the cry which seemed simultaneously taken up by the three look-outs, the men on deck rushed to the rigging to behold the famous whale they had so long been&nbsp;pursuing.&quot;</p>
                    </div>
                    <div class="layer fifth">
                        <p class="first">vedette, <i>n.f.</i> star <i>n. Depardieu est la vedette de&nbsp;ce&nbsp;film.</i></p>
                        <p class="second optional">&quot;Dinanzi a lui, inondata dalla luce del tramonto, si sprofondava la valle, si aprivano ai suoi occhi i segreti del&nbsp;settentrione.&quot;</p>
                    </div>
                    <div class="layer sixth">
                        <p class="first optional">vedetta, <i>n.f.</i> estensione (persona che sta di vedetta), (person) lookout <i>n.</i></p>
                        <p class="second">&quot;Era ancora appoggiato coi gomiti al parapetto e guardava nel cannocchiale, che sentì battere con furia il&nbsp;suo&nbsp;cuore.&quot;</p>
                    </div>
                    <div class="layer seventh">
                        <p class="first optional">vedetta, <i>n.f.</i> (posto di osservazione), (place) lookout, lookout&nbsp;post.</p>
                        <p class="second">&quot;The day was nearly done; only the helm of his golden robe was rustling. Soon it was almost dark, but the look-out men still remained&nbsp;unset.&quot;</p>
                    </div>
                </div>

                <div class="scenario second">
                    <div class="layer first">
                        <div class="img first multiple optional">
                            <img class="x3 in" src="/seeds/seed_0_thumb.JPG" alt="pictures"/>
                            <img class="x2 in" src="/seeds/seed_1_thumb.JPG" alt="pictures"/>
                            <img class="x1 in" src="/seeds/seed_1_image.JPG" alt="pictures"/>
                        </div>
                        <img class="img second in" src="/seeds/seed_1_thumb.JPG" alt="pictures"/>
                    </div>
                    <div class="layer second">
                        <img class="img first in" src="/seeds/seed_0_thumb.JPG" alt="pictures"/>
                        <div class="img second multiple optional">
                            <img class="x3 in" src="/seeds/seed_0_thumb.JPG" alt="pictures"/>
                            <img class="x2 in" src="/seeds/seed_1_thumb.JPG" alt="pictures"/>
                            <img class="x1 in" src="/seeds/seed_1_image.JPG" alt="pictures"/>
                        </div>
                    </div>
                    <div class="layer third">
                        <div class="img first multiple">
                            <img class="x3 in" src="/seeds/seed_0_thumb.JPG" alt="pictures"/>
                            <img class="x2 in" src="/seeds/seed_1_thumb.JPG" alt="pictures"/>
                            <img class="x1 in" src="/seeds/seed_1_image.JPG" alt="pictures"/>
                        </div>
                    </div>
                    <div class="layer fourth">
                        <div class="img first multiple">
                            <img class="x3 in" src="/seeds/seed_0_thumb.JPG" alt="pictures"/>
                            <img class="x2 in" src="/seeds/seed_1_thumb.JPG" alt="pictures"/>
                            <img class="x1 in" src="/seeds/seed_1_image.JPG" alt="pictures"/>
                        </div>
                    </div>
                    <div class="layer fifth">
                        <img class="img first optional in" src="/seeds/seed_1_thumb.JPG" alt="pictures"/>
                        <img class="img second in" src="/seeds/seed_0_thumb.JPG" alt="pictures"/>
                    </div>
                    <div class="layer-mobile">
                        <img class="img in" src="/seeds/seed_1_thumb.JPG" alt="pictures"/>
                    </div>
                </div>

                <div class="letterContainer">
                    <div class="letterWrapper">
                        <div class="letter in no-transitions"><div class="letterImg">착</div></div>
                        <div class="letter in no-transitions"><div class="letterImg">&</div></div>
                        <div class="letter in no-transitions"><div class="letterImg">찍</div></div>
                        <!-- <div class="letter in no-transitions"><div class="letterImg">C</div></div>
                        <div class="letter in no-transitions"><div class="letterImg">K</div></div> -->
                    </div>
                </div>

                <a class="scenarioBtn" href="#"><img src="/images/asterisk.png" alt="*"/></a>


            </div> <!-- wrapper -->
        </div> <!-- contents -->

        <nav id="menu" class="navigation">
            <div class="wrapper">
                <h2 class="visuallyhidden">Menu</h2>
                <ul>
                    <li>
                      <%= link_to 'Paintings', paintings_path %>
                    </li>
                    <li>
                      <%= link_to 'Magazines', magazines_path %>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="dimmer unvisible"></div>

      </div> <!-- main-container -->

      <%= render 'layouts/toast' %>

      <script src="/plugins/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="/landing_page/js/vendor/jquery-1.12.2.min.js"><\/script>')</script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
      <script src="/landing_page/js/vendor/plugins.js"></script>
      <script src="/landing_page/js/vendor/blazy.min.js"></script>
      <script src="/landing_page/js/vendor/intersection-observer.polyfill.js"></script>
      <script src="/landing_page/js/vendor/ui-touchpunch.min.js"></script>
      <script src="/landing_page/js/main-v2.1.0.min.js"></script>
      <script src="/landing_page/js/cover-v2.0.0.js"></script>
</body>
</html>

