@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 
* {
  font-family: 'Noto Sans KR', sans-serif !important;
}
.gray {
  color: gray;
}
div.info-area {
  margin-top: 100px;
}
div#line {
  position: absolute;
  height: 2px;
  left: 5%;
  width: 93%;
  background-color: gray;
}
div.under-profile-img {
  margin-top: 10px;
}
.profile-control {
  font-size: 30px;
  margin: 20px;
}
img.img-btn {
  width: 20px;
  height: 20px;
}
.date-range-adjust {
  font-size: 15px;
}
.adjust-left {
  margin-right: 40px;
}
.adjust-right {
  margin-left: 40px;
}
div.adjust-item {
  margin-top: 10px;
}
div#adjust-area {
  margin-top: 20px;
}
span#current-date {
  font-size: 20px;
}
span.adjust-date {
  margin-top: 100px;
  color: gray;
  font-size: 22px;
  font-weight: 700;
}
div.circle {
  position: absolute;
  
  /* border: 1.25px solid gray; */
}
img.profile-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  float: right;
}
img.card-thumbnail {
  width: 100px;
  height: 100px;
}
div.card-under-line {
  margin-top: 10px;
  display: none;
}
div.card-under-line.active {
  margin-top: 10px;
  display: block;
}
div.card-under-line.pinned {
  margin-top: 10px;
  display: block;
}

.modal-dialog{
  margin-left: 0px;
  margin-right: 0px;
  height: 92%;
}

.modal-content {
  height: 100%;
}

#portfolio-left-modal{
  position: absolute;
  left: 5%;
  width: 25%;
}


#portfolio-right-modal{
  position: absolute;
  left: 25%;
  width: 68%;
}

#xButton {
  z-index: 2000;
  display: none;
  position: absolute;
  top: 3%;
  left: 94%;
  width: 2%;
}