<% paintings ||= [] %>

<section class="margin-bottom-50" id="magazine-painting" data-background="white">
  <p class="magazine-section-title">Printings</p>
  <div class="wrapper margin-top-50">
    <% paintings.each do |painting| %>
      <%= link_to painting_path(painting) do %>
        <div class="w-col w-col-4">
          <%= image_tag painting.thumbnail.url, class: "magazine-painting-img" %>
          <center>
            <p class="painting-title margin-top-20"><%= painting.name %></p>
            <p class="painting-sub"><%= painting.completed_date.year %></p>
          </center>
        </div>
      <% end %>
    <% end %>
  </div>
</section>