/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */

.no-padding {
  padding: 0px;
}

.no-padding-vertical{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.btn.btn-outline-dark.filled{
  background-color: black;
  color: white;
}

.page[data-page=paintings-index] .option.selected {
  font-style: italic;
  font-weight: 700;
}

.page[data-page=paintings-index] .custom-select {
  width: 80%;
}
.page[data-page=paintings-index] .product.item {
  margin-bottom: 0px;
  padding: 4px;
}
.page[data-page=paintings-index] .product-price {
  margin-top: 0px !important;
}
.page[data-page=paintings-index] .product-info {
  padding-top: 0px;
}
.ui.fluid.kakao.icon.button.sns{
  background-color: #FBDD04;
  border-radius: 0px;
}
.ui.fluid.icon.button.sns{
  border-radius: 0px;
}
.auth-form-area {
  margin-top: 100px;
}
.margin-top-area{
  margin-top: 30px;
}
.margin-top-middle {
  margin-top: 70px;
}
.margin-little{
  margin: 3px;
}
.btn{
  border-radius: 10px !important;
  border-width: 1px !important;
  font-weight: 600 !important;
}
.profile-edit-btn{
  float: right;
}

.text-center{
  text-align: center;
}

.profile-text{
  font-size: 16px;
  font-weight: 600;
}

.profile-portfolio{
  padding-top: 20px !important;
}

.float-right{
  float: right;
}
.float-left{
  float: left;
}

.magazine-comment-image{
  border-radius: 30px;
}

.like-button {
  font-size: 20px;
}

* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  /* border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 200px;
  height: 200px; */
}

.page[data-page=paintings-show] .painting-show-preview{
  position: relative !important; 
  margin: 0px !important; 
  overflow-x: scroll !important; 
  white-space: nowrap !important; 
  display: inline-block !important;
}

.page[data-page=paintings-show] .preview-cell { 
  padding: 0px 2px 0px 0px; 
  display: inline-block;
  float: none;
  margin-bottom: 0px !important;
}

.page[data-page=paintings-show] .painting-show-preview::-webkit-scrollbar { 
  display: none; 
}

.page[data-page=paintings-show] .preview-cell-img { 
  width: 100%; 
  margin: 5px 5px 5px 0px;
}

.page[data-page=paintings-show] .help-info { 
  color: #333333;
  font-style: italic;
  font-size: 12px;
}

/* LINE (BEGIN) */
.page[data-page=profiles-show] .gray {
  color: gray;
}
.page[data-page=profiles-show] .card-text {
  color: gray;
  font-size: 14px;
  font-weight: 900;
}

.page[data-page=profiles-show] .card-text.category {
  font-style: italic;
  font-size: 12px;
}

.page[data-page=profiles-show] .card-text.date {
  font-style: italic;
  font-size: 12px;
}

.page[data-page=profiles-show] div.info-area {
  margin-top: 100px;
}
.page[data-page=profiles-show] div#line {
  position: absolute;
  height: 2px;
  left: 5%;
  width: 93%;
  background-color: gray;
}
.page[data-page=profiles-show] div.under-profile-img {
  margin-top: 10px;
}
.page[data-page=profiles-show] .profile-control {
  font-size: 30px;
  margin: 20px;
}
.page[data-page=profiles-show] img.img-btn {
  width: 20px;
  height: 20px;
}
.page[data-page=profiles-show] .date-range-adjust {
  font-size: 15px;
}
.page[data-page=profiles-show] .adjust-left {
  margin-right: 40px;
}
.page[data-page=profiles-show] .adjust-right {
  margin-left: 40px;
}
.page[data-page=profiles-show] div.adjust-item {
  margin-top: 10px;
}
.page[data-page=profiles-show] div#adjust-area {
  margin-top: 20px;
}
.page[data-page=profiles-show] span#current-date {
  font-size: 20px;
}
.page[data-page=profiles-show] span.adjust-date {
  margin-top: 100px;
  color: gray;
  font-size: 22px;
  font-weight: 700;
}
.page[data-page=profiles-show] div.circle {
  position: absolute;
  
  /* border: 1.25px solid gray; */
}
.page[data-page=profiles-show] img.profile-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  float: right;
}

.page[data-page=profiles-show] .card-text {
  color: black;
}

.page[data-page=profiles-show] img.card-thumbnail {
  width: 100px;
  height: 100px;
}
.page[data-page=profiles-show] div.card-under-line {
  margin-top: 10px;
  display: none;
}
.page[data-page=profiles-show] div.card-under-line.active {
  margin-top: 10px;
  display: block;
}
.page[data-page=profiles-show] div.card-under-line.pinned {
  margin-top: 10px;
  display: block;
}

.page[data-page=profiles-show] .modal-dialog.portfolio{
  margin-left: 0px;
  margin-right: 0px;
  height: 92%;
}

.page[data-page=profiles-show] .modal-content.portfolio {
  height: 100%;
}

.page[data-page=profiles-show] #portfolio-left-modal{
  position: absolute;
  left: 5%;
  width: 25%;
}


.page[data-page=profiles-show] #portfolio-right-modal{
  position: absolute;
  left: 25%;
  width: 68%;
}

.page[data-page=profiles-show] #xButton {
  z-index: 2000;
  display: none;
  position: absolute;
  top: 3%;
  left: 94%;
  width: 2%;
}

.page[data-page=profiles-show] .line-card {
  position: relative !important;
  z-index: 1000;
  background-color: white !important;
}
/* LINE (END) */