/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */


.page[data-page=paintings-index] .custom-select {
  width: 80%;
}
.ui.fluid.kakao.icon.button.sns{
  background-color: #FBDD04;
  border-radius: 0px;
}
.ui.fluid.icon.button.sns{
  border-radius: 0px;
}
.auth-form-area {
  margin-top: 100px;
}
.margin-top-area{
  margin-top: 30px;
}
.margin-top-middle {
  margin-top: 70px;
}
.margin-little{
  margin: 3px;
}
.btn{
  border-radius: 10px !important;
  border-width: 1px !important;
  font-weight: 600 !important;
}
.profile-edit-btn{
  float: right;
}

.profile-text{
  font-size: 16px;
  font-weight: 600;
}

.profile-portfolio{
  padding-top: 20px !important;
}

.float-right{
  float: right;
}
.float-left{
  float: left;
}

.magazine-comment-image{
  border-radius: 30px;
}

.like-button {
  font-size: 20px;
}