/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */

 /* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500|Noto+Sans:400,700'); */

/* p, a, span, div, h1, h2, h3, h4, h5, ul, li, ol{
  font-family: 'Noto Sans KR', sans-serif !important;
  font-family: 'Noto Sans', sans-serif;
} */

/* a{
  color: black !important;
}

a.white{
  color: lightgray !important;
  font: 300 16px "Heebo", sans-serif;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 300;
  font-stretch: normal;
  font-size: 16px;
  line-height: normal;
  font-family: Heebo, sans-serif;
  letter-spacing: 0;
} */

input[type=range]{
  padding-left: 0px;
  padding-right: 0px;
}

#slider .ui-slider-handle {
  outline: 0;
  width: 0.8em;
  height: 0.8em;
  background: black;
  border-radius: 0%;
  top: -.3em;
  
}

#slider.ui-slider-horizontal {
  top: 1em;
  left: 5%;
  height: .1em;
  width: 90%;
  border: none;
  background: #ccc;
}

.no-padding {
  padding: 0px;
}

.no-padding-vertical{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.margin-left-20{
  margin-left: 20px;
}
.margin-bottom-20{
  margin-bottom: 20px;
}

.margin-sidebar{
  margin-left: 70px;
}

.btn.btn-outline-dark.filled{
  background-color: black;
  color: white;
}

.page[data-page=paintings-index] .option.selected {
  font-style: italic;
  text-decoration: underline;
  font-weight: 700;
}

.page[data-page=paintings-index] .modal-dialog.mobile {
  height: 100%;
}

.page[data-page=paintings-index] .modal-content.mobile {
  height: 98%;
}

.page[data-page=paintings-index] .modal-body.mobile {
  overflow-y: scroll;
}

.page[data-page=paintings-index] .modal-body.mobile::-webkit-scrollbar {
  display: none;
}


.page[data-page=paintings-index] .shop-sidebar-box.mobile {
  padding: 15px;
  margin-bottom: 2px;
}

.page[data-page=paintings-index] .custom-select {
  width: 80%;
}
.page[data-page=paintings-index] .product.item {
  margin-bottom: 0px;
  padding: 4px;
}
.page[data-page=paintings-index] .product-price {
  margin-top: 0px !important;
}
.page[data-page=paintings-index] .product-info {
  padding-top: 0px;
}
.ui.fluid.kakao.icon.button.sns{
  background-color: #FBDD04;
  border-radius: 0px;
}
.ui.fluid.icon.button.sns{
  border-radius: 0px;
}
.auth-form-area {
  margin-top: 100px;
}

.padding-top-0{
  padding-top: 0px !important;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-top-20{
  margin-top: 20px;
}

.margin-top-30{
  margin-top: 30px;
}

.margin-top-40{
  margin-top: 40px;
}

.margin-top-50{
  margin-top: 50px;
}

.margin-top-100{
  margin-top: 100px;
}

.margin-top-area{
  margin-top: 30px;
}
.margin-top-middle {
  margin-top: 70px;
}
.margin-little{
  margin: 3px;
}
.btn{
  border-radius: 10px !important;
  border-width: 1px !important;
  font-weight: 600 !important;
}
.profile-edit-btn{
  float: right;
}

.text-center{
  text-align: center;
}

.profile-text{
  font-size: 16px;
  font-weight: 600;
}

.profile-info-text{
  font-size: 3rem;
  color: #0021F5;
  font-weight: 600;
}

.artwork-text{
  font-size: 2rem;
  color: #0021F5;
  font-weight: 600;
}

.profile-portfolio{
  padding-top: 20px !important;
}

.float-right{
  float: right;
}
.float-left{
  float: left;
}

.margin-bottom-10{
  margin-bottom: 10px !important;
}

.magazine-comment-image{
  border-radius: 30px;
}

* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  /* border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 200px;
  height: 200px; */
}

.page[data-page=magazines-index] .blog-post-box{
  margin-bottom: 0px !important;
}

.page[data-page=paintings-show] .painting-show-preview{
  position: relative !important; 
  margin: 0px !important; 
  overflow-x: scroll !important; 
  white-space: nowrap !important; 
  display: inline-block !important;
}

.page[data-page=paintings-show] .preview-cell { 
  padding: 0px 2px 0px 0px; 
  display: inline-block;
  float: none;
  margin-bottom: 0px !important;
}

.page[data-page=paintings-show] .painting-show-preview::-webkit-scrollbar { 
  display: none; 
}

.page[data-page=paintings-show] .preview-cell-img { 
  width: 100%; 
  margin: 5px 5px 5px 0px;
}

.page[data-page=paintings-show] .help-info { 
  color: #333333;
  font-style: italic;
  font-size: 12px;
}

/* LINE (BEGIN) */
.page[data-page=profiles-show] .gray {
  color: gray;
}

.page[data-page=profiles-show] .container.mobile {
  padding-top: 30px !important;
}
.page[data-page=profiles-show] .card-text {
  color: gray;
  font-size: 14px;
  font-weight: 900;
}

.page[data-page=profiles-show] .card-text.category {
  font-style: italic;
  font-size: 12px;
}

.page[data-page=profiles-show] .card-text.date {
  font-style: italic;
  font-size: 12px;
}

.page[data-page=profiles-show] div.info-area {
  margin-top: 100px;
}
.page[data-page=profiles-show] div#line {
  position: absolute;
  height: 2px;
  left: 5%;
  width: 93%;
  background-color: gray;
}
.page[data-page=profiles-show] div.under-profile-img {
  margin-top: 10px;
}
.page[data-page=profiles-show] .profile-control {
  font-size: 30px;
  margin: 20px;
}
.page[data-page=profiles-show] img.img-btn {
  width: 20px;
  height: 20px;
}
.page[data-page=profiles-show] .date-range-adjust {
  font-size: 15px;
}
.page[data-page=profiles-show] .adjust-left {
  margin-right: 40px;
}
.page[data-page=profiles-show] .adjust-right {
  margin-left: 40px;
}
.page[data-page=profiles-show] div.adjust-item {
  margin-top: 10px;
}
.page[data-page=profiles-show] div#adjust-area {
  margin-top: 20px;
}
.page[data-page=profiles-show] span#current-date {
  font-size: 20px;
}
.page[data-page=profiles-show] span.adjust-date {
  margin-top: 100px;
  color: gray;
  font-size: 22px;
  font-weight: 700;
}
.page[data-page=profiles-show] div.circle {
  position: absolute;
  
  /* border: 1.25px solid gray; */
}
.page[data-page=profiles-show] img.profile-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  float: right;
}

.page[data-page=profiles-show] .card-text {
  color: black;
}

.page[data-page=profiles-show] img.card-thumbnail {
  width: 100px;
  height: 100px;
}
.page[data-page=profiles-show] div.card-under-line {
  margin-top: 10px;
  display: none;
}
.page[data-page=profiles-show] div.card-under-line.active {
  margin-top: 10px;
  display: block;
}
.page[data-page=profiles-show] div.card-under-line.pinned {
  margin-top: 10px;
  display: block;
}

.page[data-page=profiles-show] .modal-dialog.portfolio{
  margin-left: 0px;
  margin-right: 0px;
  height: 92%;
}

.page[data-page=profiles-show] .modal-content.portfolio {
  height: 100%;
}

.page[data-page=profiles-show] #portfolio-left-modal{
  position: absolute;
  left: 5%;
  width: 25%;
}


.page[data-page=profiles-show] #portfolio-right-modal{
  position: absolute;
  left: 25%;
  width: 68%;
}

.page[data-page=profiles-show] #xButton {
  z-index: 2000;
  display: none;
  position: absolute;
  top: 3%;
  left: 94%;
  width: 2%;
}

.page[data-page=profiles-show] .line-card {
  position: relative !important;
  z-index: 1000;
  background-color: white !important;
}
/* LINE (END) */
hr {
  display: block;
  height: 1px !important;
  border: 0;
  border-top: 1px solid #ccc !important;
  margin: 1em 0 !important;
  margin-bottom: 0px !important;
  padding: 0; 
}

.magazine-type{
  font-size: 14px; 
  font-style: italic;
}

.popular-post{
  font-size: 8px;
  height: 80px;
}

.popular-post-img{
  height: 100%;
}

.section.mobile{
  padding-top: 40px;
}

.like-area {
  line-height: 1;
  font-size: 18px;
  height: 18px;
}
.like-cnt {
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  font-size: 18px;
}
.like-button {
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  font-size: 18px;
}

.recent-paintings-icon{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: block !important;
  margin-bottom: 5px;
  margin-top: 5px;
}

.recent-paintings{
  position: fixed; 
  right: 20px; 
  bottom: 20px;
  z-index: 900;
}

.nodots{
  list-style-type: none;
  float: left;
}

.auction-table-head{
  padding-left: 10px !important;
   padding-right: 10px !important;
}

.message-date-text{
  width: 100%;
}

.margin-0{
  margin: 0px;
}

.margin-bottom-0{
  margin-bottom: 0px !important;
}

.margin-bottom-50{
  margin-bottom: 50px;
}

.margin-bottom-100{
  margin-bottom: 100px;
}

.no-border-radius{
  border-radius: 3px !important;
}

.white {
  color: white;
}

.height-100{
  height: 100%;
}