<p>안녕하세요 <%= @resource.email %> 님!</p>


<p>비밀번호 찾기 요청이 들어와, 안내 메일을 보내드립니다. 비밀번호를 재설정 하고 싶으시면, 아래의 링크를 참고해 주세요.</p>

<p><%= link_to '비밀번호 변경', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>(링크를 통해 비밀번호를 변경시키기 전까지, 계정의 비밀번호는 변경되지 않습니다.)</p>

<p>모든 집의 벽에 그림이 걸리는 날까지 -Canvas</p>
