<div class="auth-form-area">
  <div class="container">
    <h2>회원 정보 입력</h2>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%= render 'register/common_info' %>
      </div>
      <div class="col-sm-12 col-md-6">
        <img src="/images/sample_image1.jpeg" style="width: 100%;" alt="">
      </div>
    </div>
  </div>
</div>