<div class="section" id="footer" style="background-color: #0021F5; padding: 10px;">
    <div class="wrapper w-clearfix">
       <h3 class="header header-medium color-white is-larger">Contact</h3>
       <div class="hr hr-white hr-margin"></div>
       <div class="footer-row w-row" style="margin-bottom: 20px;">
          <div class="footer-col w-col w-col-9 w-col-small-9 w-col-tiny-9">
             <p class="paragraph color-white"><strong>Email:</strong></p>
             <div class="email-link w-clearfix">
                <h4 class="header-link"><a href="mailto:chacknzzick@gmail.com" class="link">chacknzzick@gmail.com</a></h4>
                <div class="hr hr-white hidden"></div>
             </div>
             <p class="paragraph color-white"><strong>powered by:</strong></p>
             <p class="link paragraph color-white">Chack & Zzick</p>
          </div>
          <div class="footer-col w-clearfix w-col w-col-3 w-col-small-3 w-col-tiny-3"><a href="#container" class="footer-arrow w-inline-block"><img src="/img/5b240bd813f80e1b4f738b32_arrow-white.svg" alt="" class="footer-img"/></a></div>
       </div>
    </div>
    <div data-w-id="9d58806e-102c-e8bd-9e64-d83b532a2cdb" class="circle-container is-horizontal" style="background-color: #0021F5;">
       <img src="/img/footer-orange.svg"  alt="" id="footer-orange" class="is-horizontal"/>
       <!-- <div class="circle-yellow is-horizontal"></div> -->
    </div>
 </div>