<div class="section">
  <div class="container">
    <img src="/img/orange_sticker.svg" data-w-id="main-left-sticker" alt="" class="square"/>
    <img src="/img/orange_sticker.svg" data-w-id="main-right-sticker" alt="" class="square"/>
    <h1 class="hero-title hero-title-main white" style="z-index: 900;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Chack
        <br>
        &nbsp;&nbsp;&nbsp; & &nbsp; Zzick !
      </h1>
  </div>
</div>