<div id="sidenav_cz" class="sidenav-cz text-center">
  <div class="width-100" style="height: 80%;"></div>
  <div class="width-100 sidenav-item selected">
    <a href="#a" class="sidenav-link">No.1</a>
  </div>
  <div class="width-100 sidenav-item">
    <a href="#a" class="sidenav-link">No.2</a>
  </div>
  <div class="width-100 sidenav-item">
    <a href="#a" class="sidenav-link">No.3</a>
  </div>
</div>