<div class="sidenav-chacknzzick text-center">
  <div class="width-100">
    <p class="background-blue"><a href="#a" class="sidenav-link">01</a></p>
  </div>
  <div class="width-100">
    <p><a href="#a" class="sidenav-link">02</a></p>
  </div>
  <div class="width-100">
    <p><a href="#a" class="sidenav-link">03</a></p>
  </div>
</div>