<div id="sidenav_cz" class="sidenav-cz text-center">
  <div class="width-100" style="height: 75%;"></div>
  <% 3.times do |index| %>
    <div id="artist-link-<%= index+1 %>" class="width-100 sidenav-item
      <% if index==0 %>
        selected
      <% end %>
      ">
      <a href="#artist-<%= index+1 %>" class="sidenav-link">No.<%= index+1 %></a>
    </div>
  <% end %>
</div>